:root {
    color-scheme: dark light;
    font-family: system-ui;
}

body {
    height: 100dvh;
    width: 100dvw;
    margin: 0;
}

main {
    height: 100%;
    width: 100%;
}

header {
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
    -webkit-border-horizontal-spacing: 0;
    -webkit-border-vertical-spacing: 0;
}

td {
    padding: 0;
}

.alive {
    background-color: canvastext;
}

menu {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    background-color: oklch(from canvas l c h / 75%);
    backdrop-filter: blur(0.5rem);
    padding: 1rem;
    border-radius: 0.5rem;
    border: 0.125rem solid canvastext;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    button {
        display: flex;
        justify-content: center;
        appearance: none;
        background-color: transparent;
        color: canvastext;
        font-size: 1rem;
        border: none;
        width: 100%;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 0.25rem;
        transition:
            background-color 0.25s,
            color 0.25s;

        &:hover {
            background-color: canvastext;
            color: canvas;
        }
    }
}

label {
    cursor: pointer;
    padding: 0.25rem;
    border-radius: 0.25rem;
    transition:
        background-color 0.25s,
        color 0.25s;

    &:hover {
        background-color: canvastext;
        color: canvas;
    }

    svg {
        vertical-align: middle;
    }

    input {
        display: none;
    }

    &:has(input:checked) {
        .play {
            display: none;
        }
        .pause {
            display: block;
        }
    }

    .play {
        display: block;
    }
    .pause {
        display: none;
    }
}
